* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-image: url(../assets/images/wall.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Courier;
	overflow: hidden;
}

nav {
	background-color: rgb(255, 193, 7);
	color: black;
	font-size: 25px;
	height: 10vh;
	padding-top: 2vh;
}

.nuevo-mensaje {
	background-color: #fff;
	border-radius: 5px;
  margin: 1.5% auto;
  padding: 1%;
}

.tweet {
	display: block;
	overflow-wrap: break-word;
}
